/* COLLECTION */


* {
  box-sizing: border-box;
}

body {
  background: #000000;
  color: #EAEAEA;
  margin: 0;
  padding: 0; 
  line-height: 1.3;
  font-size: 16px;
  min-height: 100vh;
  max-width: 100vw;
}

img {
  max-width: 100%;
}

/* Header */

header{
background-color: rgba(255, 255, 255, 0.512);
max-width: 300px;
margin: 16px auto;
padding: 8px 16px;
border-radius: 32px;
display: grid;
grid-template-columns: 2fr 1fr 1fr ;
align-items: center;
position: sticky;

a {
  color: #EAEAEA;
  text-decoration: none;
}

a:hover {
  opacity: 50%;
}

footer {
  text-align: center;
  padding: 16px;
}

footer p {
  max-width: 100%;
}




}

.button{
border: 1px solid white;
padding: 4px 16px;
border-radius: 32px;
}

main{
max-width: 1000px;
padding: 16px;
margin: 0 auto;
min-height: 90vh;

}
.bg-image{
background-image: url(images/fireren\ bg\ for\ web\ site.jpg);
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 72px;
  line-height: 90%;
  font-weight: 600;
  margin: 0
}

p {
  color: #868686;
  margin-bottom: 24px;
  max-width: 500px;
}

.active {
color: rgb(19, 19, 154);
}

/* GRID */

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px; 
}

/* UTILITS */
.center-align {
  text-align: center;
  max-width: 100%;

}
.vertical-align {
  display: grid;
  align-items: center;
}